<p-toast></p-toast>

<div class="header">
  <div *ngIf="isProfileLoading" style="display: flex; align-items: center">
    <p-skeleton shape="circle" size="40px"></p-skeleton>
    <span class="ms-3">
      <p-skeleton width="200px"></p-skeleton>
    </span>
  </div>
  <div *ngIf="!isProfileLoading">
    <img
      [src]="getOptimizedImgUrl(user?.pic || defaultImage)"
      alt="profile picture"
      style="cursor: pointer"
      (click)="
        this.display = true;
        this.selectedImg = user?.pic || defaultImage;
        selectedName = user.name
      "
    />
    <span class="ms-3">{{
      user.name.split(" ")[0] || "NAME" | uppercase
    }}</span>
  </div>
  <div>
    <span role="button">
      <i class="pi pi-bell"></i>
    </span>
    <p-menu
      [showTransitionOptions]="'0ms'"
      [hideTransitionOptions]="'0ms'"
      #menu
      [popup]="true"
      [model]="items"
    ></p-menu>
    <span class="ms-3" (click)="menu.toggle($event)" role="button">
      <i class="pi pi-ellipsis-v"></i>
    </span>
  </div>
</div>
<div class="add-group">
  <div class="my-chat">My Chats</div>
  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-plus"
    label="New Chat"
    (click)="displayNew = true"
    class="p-button-outlined p-button-info"
  ></button>
</div>

<div class="chats">
  <ng-container *ngIf="chats.length > 0; else chatLoader"></ng-container>
  <div class="chat" *ngFor="let chat of chats">
    <img
      [src]="getChatImage(chat)"
      alt="profile picture"
      (click)="showDialog(chat)"
      class="pointer"
    />
    <div
      class="flex-grow-1 d-flex flex-column ms-3 pointer"
      (click)="showChat(chat._id, chat)"
    >
      <div class="d-flex justify-content-between">
        <div>
          {{ getChatName(chat) }}
          <i
            class="pi pi-users"
            *ngIf="chat.isGroupChat"
            pTooltip="Group Chat"
            tooltipPosition="top"
          ></i>
        </div>
        <div style="font-size: 0.6rem; color: #989898">
          {{ getChatTime(chat) }}
        </div>
      </div>
      <div class="truncate" style="font-size: 0.75rem; color: #989898">
        {{ chat?.latestMessage?.content || "Say Hi" }}
      </div>
    </div>
  </div>

  <ng-template #chatLoader class="custom-skeleton p-p-4">
    <div class="chat" *ngFor="let _ of [].constructor(5)">
      <p-skeleton shape="circle" size="40px"></p-skeleton>
      <div class="flex-grow-1 d-flex flex-column ms-3">
        <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
        <p-skeleton width="75%"></p-skeleton>
      </div>
    </div>
  </ng-template>
</div>

<!-- <div class="search-results" *ngIf="searchText">
  <div class="chat" *ngFor="let chat of chats">
    <img
      [src]="getChatImage(chat)"
      alt="profile picture"
      (click)="showDialog(chat)"
      style="cursor: pointer"
    />
    <div class="flex-grow-1 d-flex flex-column ms-3">
      <div class="d-flex justify-content-between">
        <div>{{ getChatName(chat) }}</div>
        <div style="font-size: 0.6rem; color: #989898">
          {{ getChatTime(chat) }}
        </div>
      </div>
      <div style="font-size: 0.75rem; color: #989898">
        {{ chat?.latestMessage || "Say Hi" }}
      </div>
    </div>
  </div>
</div> -->

<!-- big image -->
<p-dialog
  header="{{ selectedName }}"
  [(visible)]="display"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
>
  <img [src]="selectedImg" alt="" width="100%" height="100%" />
</p-dialog>

<!-- search and add new chat -->
<p-sidebar [(visible)]="displayNew">
  <p-tabView>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-search my-font-12"></i>
        <span class="my-font-12 ms-2">Search User</span>
      </ng-template>
      <div>
        <div class="search">
          <span class="p-input-icon-right w-100">
            <i class="pi pi-search" *ngIf="!searchText"></i>
            <input
              class="w-100"
              type="text"
              pInputText
              placeholder="Search or start new chat"
              [(ngModel)]="searchText"
              (ngModelChange)="searchUsers()"
            />
            <i
              role="button"
              class="pi pi-times"
              *ngIf="searchText"
              (click)="searchText = null"
            ></i>
          </span>
        </div>
        <mat-spinner class="mx-4" [diameter]="50" *ngIf="isSearchLoading">
        </mat-spinner>
        <div
          class="search-results"
          *ngIf="!isSearchLoading && searchResults.length > 0; else noResult"
        >
          <div
            class="chat pointer"
            *ngFor="let user of searchResults"
            (click)="accessChat(user._id)"
          >
            <img [src]="user.pic" alt="profile picture" />
            <div class="ms-4">{{ user.name }}</div>
          </div>
        </div>
        <ng-template #noResult> No user Found </ng-template>
      </div>
    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-plus my-font-12"></i>
        <span class="my-font-12 ms-2">New Group Chat</span>
      </ng-template>
      <div style="min-height: 500px">
        <form [formGroup]="groupChatForm">
          <div class="field">
            <label for="username2" class="block mb-2"
              >Username
              <small class="p-error block">*</small>
            </label>
            <input
              class="w-100"
              id="username2"
              type="username"
              aria-describedby="username2-help"
              formControlName="name"
              pInputText
            />
          </div>
          <div class="field mt-4">
            <label for="username2" class="block mb-2"
              >Users
              <small class="p-error block">*(2+)</small>
            </label>
            <br />
            <p-multiSelect
              [options]="allUsers"
              optionLabel="name"
              optionValue="_id"
              formControlName="users"
              display="chip"
              [style]="{ width: '100%' }"
            ></p-multiSelect>
          </div>
          <div class="field mt-4">
            <label for="username2" class="block mb-2"> Group Picture </label>
            <br />
            <div style="display: flex; align-items: center">
              <p-fileUpload
                [disabled]="isUploading"
                name="group[]"
                mode="basic"
                [customUpload]="true"
                (uploadHandler)="onImageUpload($event)"
                [auto]="true"
                chooseLabel="Browse"
              ></p-fileUpload>
              <mat-spinner
                class="spinner ms-2"
                [diameter]="25"
                *ngIf="isUploading"
              >
              </mat-spinner>
            </div>
          </div>

          <button
            class="mt-4"
            pButton
            type="button"
            label="Create Group"
            (click)="createGroup()"
            [disabled]="!groupChatForm.valid || isUploading"
          ></button>
        </form>
      </div>
    </p-tabPanel>
  </p-tabView>
</p-sidebar>
