@media only screen and (min-width: 768px) {
  .display-none {
    display: none;
  }
}

.header {
  height: 50px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    border-radius: 100%;
    height: 40px;
    width: 40px;
  }
}
.body {
  height: calc(100% - 100px);
  background-image: url("../../../assets/wallpaper2.jpg");
  background-size: cover;
  overflow-y: auto;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  .message-sender {
    font-weight: 700;
    font-size: 10px;
    color: green;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .message {
    margin: 4px 0 0 0;
    padding: 4px 12px;
    background-color: white;
    border-radius: 8px;
    max-width: 70%;
    width: fit-content;
    font-weight: 600;
  }
  .my-message {
    align-self: flex-end;
  }
  .message-time {
    font-weight: 600;
    font-size: 10px;
    color: rgb(58, 58, 231);
    margin-left: 40px;
    float: right;
  }
}

.footer {
  height: 50px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
