@media only screen and (min-width: 768px) {
  .display-none {
    display: none;
  }
}

.header {
  height: 50px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    border-radius: 100%;
    height: 40px;
    width: 40px;
  }
}
.body {
  height: calc(100% - 100px);
  background-image: url("../../../assets/wallpaper2.jpg");
  background-size: cover;
}

.footer {
  height: 50px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
