<p-toast></p-toast>
<div *ngIf="selectedChat == ''" style="height: 100%"></div>
<div class="h-100" *ngIf="selectedChat != ''">
  <div class="header">
    <div style="display: flex; align-items: center">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-arrow-left"
        (click)="showChatList()"
        class="display-none p-button-raised p-button-secondary me-2"
      ></button>
      <img
        [src]="getChatImage(true)"
        alt="pic"
        style="cursor: pointer"
        (click)="this.display = true; this.selectedImg = getChatImage(false)"
      />
      <span class="ms-3">
        {{ getChatName() }}
      </span>
    </div>
    <div>
      <p-menu
        [showTransitionOptions]="'0ms'"
        [hideTransitionOptions]="'0ms'"
        #menu
        [popup]="true"
        [model]="items"
      ></p-menu>
      <span class="ms-3" (click)="menu.toggle($event)" role="button">
        <i class="pi pi-ellipsis-v"></i>
      </span>
    </div>
  </div>

  <div class="body">
    <!-- chats selectedChat : {{ selectedChat }} -->

    <ng-container *ngFor="let message of messages; let i = index">
      <div
        class="message"
        [class.my-message]="user._id === message.sender._id"
        [class.mb-4]="i == 0"
      >
        <div
          *ngIf="
            this.selectFullChat?.isGroupChat && user._id !== message.sender._id
          "
          class="message-sender"
        >
          {{ message.sender.name }}
        </div>
        <div>
          {{ message.content }}
          <span class="message-time">{{
            message.createdAt | date: "HH:MM"
          }}</span>
        </div>
      </div>
      <div
        class="date"
        *ngIf="showDate(message.createdAt, messages[i + 1]?.createdAt)"
      >
        {{ message.createdAt | date }}
      </div>
    </ng-container>
  </div>

  <div class="footer">
    <div class="p-inputgroup">
      <input
        type="text"
        pInputText
        placeholder="Keyword"
        [(ngModel)]="message"
      />
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-send"
        styleClass="p-button-warn"
        [disabled]="message === ''"
        (click)="sendMessage(); $event.preventDefault()"
        (window:keydown.enter)="sendMessage(); $event.preventDefault()"
        (mousedown)="sendMessage(); $event.preventDefault()"
      ></button>
    </div>
  </div>
</div>

<!-- big image -->
<p-dialog
  [(visible)]="display"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
>
  <img [src]="selectedImg" alt="" width="100%" height="100%" />
</p-dialog>

<!-- Group Info -->
<p-dialog
  header="Group Info"
  [(visible)]="displayGroupInfo"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
>
  <app-group-details
    *ngIf="selectedChat != ''"
    [userId]="user._id"
    [chatId]="selectedChat"
    [group]="selectFullChat"
  ></app-group-details>
</p-dialog>
