.chat-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  // background-image: url("../../../assets/wallpaper1.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  //   justify-content: center;
  padding: 50px;
  align-items: center;

  &-wrapper {
    background-color: aliceblue;
    border-radius: 4px;
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .display-none {
    display: none;
  }
  .chat-page {
    padding: 0;
  }
}
