.chatName {
  font-size: 1.25rem;
  font-weight: 500;
}
.members {
  font-size: 1.25rem;
  margin-bottom: 12px;
}
.member {
  background-color: aliceblue;
  border-radius: 4px;
  padding: 4px;
  margin-top: 4px;
}
