/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeng/resources/primeng.min.css";
// @import "~primeflex/primeflex.css";

body {
  background-image: url("./assets/wallpaper1.jpg");
  // background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body > * {
  font-family: "Work Sans", sans-serif;
}
